<div class="main_container single_food_menu_container">
        	<div class="page_title_container">
   		<div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="page_title">
                            <div class="page_title_ribbon"><i class="glyphicon glyphicon-cutlery"></i></div>
                            <div class="page_title_ribbon_shadow"></div>
                            <h1 class="page_title_text">
            Penne with Prawns in spicy sauce          </h1>
                        </div>
                     </div>
                 </div>
         	</div>
    	</div><!--page_title_container-->
        	<div class="main_container_inner">
        		<div class="container">
            	<div class="row">
        			<div class="span12 content">
                    	<div class="single-food-menu-wrapper">
                            <div class="single-food-menu-media">
                        <!--preload-->
                
                </div><!--single-food-menu-media-->
        
        
        <div class="single-food-menu-content clearfix">
                            
                                                                                          <div class="single-food-menu-price clearfix">
                                 	<div class="single-food-menu-money">
                                     	<i class="glyphicon glyphicon-usd"></i>
                                    </div>    
                                    <h3 class="single-food-menu-price-text">
                                    	$15.49                                    </h3>
                                 </div><!--single-food-menu-price-->
                                                                                                   <div class="single-food-menu-badge clearfix">
                                	 <div class="single-food-menu-badge-icon">
                                     	<i class="glyphicon glyphicon-thumbs-up"></i>
                                     </div>
                                     <h3 class="single-food-menu-badge-text">Chef Recommended</h3>
                                </div><!--single-food-menu-badge-->
                                                            	<h2 class="single-food-menu-title">
                                	Penne with Prawns in spicy sauce                                </h2>
                                <div class="single-food-menu-detail">
                               <p>Cras vel metus sapien, eu tincidunt mi. Nunc varius lacinia sem quis tincidunt. Sed sodales congue sem, eget pharetra justo ultricies in. Nam id sem quis enim lacinia semper. Phasellus leo metus, ultrices a sollicitudin in, auctor eu urna. In hac habitasse platea dictumst. Vestibulum placerat semper metus ac faucibus. Sed feugiat erat eget tortor laoreet quis sollicitudin elit ultricies. Suspendisse blandit metus semper lorem mollis ornare. Proin sit amet enim eget urna consectetur imperdiet. Nulla non rutrum lectus. Vestibulum arcu libero, dignissim eu tristique at, consectetur in justo. Fusce vitae elit quam, sit amet convallis nibh.</p>
<p>Curabitur commodo condimentum vestibulum. Vivamus quis tempor orci. Aenean sed augue dui. Sed ac elit neque. Vestibulum bibendum, ipsum vitae viverra adipiscing, enim erat laoreet nunc, a vehicula lectus leo ac dolor. Nullam tempor purus et turpis vestibulum feugiat. Integer non magna vel augue pretium pretium id sit amet libero. In interdum, dolor et ultrices iaculis, felis sapien commodo est, sed ultricies augue erat faucibus purus.</p>
                                </div>
                            										                                  <!--end social share-->
                            </div><!--single-food-menu-content-->
                        </div><!--single-food-menu-wrapper-->
                    </div>

                </div>
            </div>
             </div><!--main_container_inner-->
        </div><!--main_container-->