<ng:include src="'partials/header.html'"></ng:include>
<div style="padding:50px 5px 5px 5px; background-color:#909045">
<div class="row" xmlns:ng="http://angularjs.org">

    <form id="slideForm" class="form-horizontal col-md-12" ng-submit="saveSlide()">
        <fieldset>
                <div class="row">
                    <div class="col-md-8">
                    <div class="form-group">
                       

                        <div class="col-md-8">
                            <input id="slideId" name="slideId" class="form-control" ng-model="slide._id" type="text" disabled/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-8">
                            <input placeholder="title of picture (option)" type="text" id="slideName" class="form-control" name="slideName"  ng-model="slide.name"  />
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="form-group"> 
                        <div class="col-md-8">
                            <textarea placeholder="descriptin of picture(option)" id="slideDescription" name="slideDescription" class="form-control" ng-model="slide.description"  rows="4"></textarea>
                        </div>
                    </div>  
                        <div class="form-group" ng-hide="{{slide.type}}">
                        <div class="col-md-8">
                            <input placeholder="URL of the picture" type="text" id="slideUrl" class="form-control" name="slideUrl"  ng-model="slide.imgsrc" ng-change="ImgSrc=slide.imgsrc" />
                            <span class="help-inline"></span>
                        </div>
                    </div><div class="form-group">
                        
                        <div class="col-md-8"> 
                    <div class="well" style="width: 100%;text-align: margin: 0px auto;">
                        
                        <p style="color:#999;">Best resolution for Landscape mode is 1024(width) x 768(height), and 768(width) x 1024(height) for Portrait mode. <br>If you want to use the App offline, then select uploading the picture by clicking at the button below.</p>
 <input ng-model="files" onchange="angular.element(this).scope().file_changed(this)" type="file" accept="image/*" />
                        <p><img id="picture" width="180" src="{{ImgSrc}}"  onerror="this.src='img/logo.png'" ng-model="slide.img"/></p>
<output id="list"></output>
                    </div>
                                    <div class="form-actions">
            &nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-primary save">Save</button>
            &nbsp;&nbsp;&nbsp;<a href="#/slideshow/edit" class="btn btn-warning" role="button">Cancel</a>
            &nbsp;&nbsp;&nbsp;<a href="#/slideshow/edit" class="btn btn-danger delete" ng:click="deleteSlide(slide)" ng-show="slide._id!=undefined">Delete</a>
        </div>
                    <div class="row status-bar">
                        <div class="col-md-12">
                            <div class="alert alert-success hide" show-alert>
                                <b>Success!</b> Slide saved successfully
                            </div>
                        </div>
                    </div>
                </div>
           </div>
       </fieldset>

    </form>
</div>
</div>
